services:
  fava:
    build: .
    container_name: fava
    environment:
      TZ: Asia/Bangkok
    ports:
      - '5004:5000' # on mac, port 5000 is used by airplay
    volumes:
      - ./fava/:/opt/fava/
    restart: unless-stopped
